{
  "name": "specman",
  "scopeName": "source.specman",
  "patterns": [
    {"include": "#body_declaration" },
    {"include": "#out_of_body" } 
  ],
  "repository": {
    "body_declaration": {
      "patterns": [
        {
          "begin": "<\\'",
          "beginCaptures": {
            "0": { "name": "punctuation.section.begin.body.specman" }
          },
          "end": "\\'>",
          "endCaptures": {
            "0": { "name": "punctuation.section.end.body.specman" }
          },
          "patterns": [
            { "include": "#package" },
            { "include": "#comment" },
            { "include": "#imports" },
            { "include": "#structs" },            
            { "include": "#macros" },
            { "include": "#scalar-type-definition" }
          ]
        }
      ]
    },
    "out_of_body": {
      "name": "comment.block",
      "match": ".*"
    },
    "package": {
      "match": "\\b(package)\\s+(.*)(;)",
      "captures": {
        "1": {"name": "entity.name.namespace.specman"},
        "2": {"name": "entity.name.specman"},
        "3": {"name": "punctuation.terminator.specman"}
      }
    },
    "comment": {
      "match": "(//|--)(.*)",
      "captures": {
        "1": {"name": "punctuation.section.comment.specman"},
        "2": {"name": "comment.block"}
      }
    },
    "imports": {
      "match": "\\b(import)\\s+(.*)(;)",
      "captures": {
        "1": {"name": "keyword.control.import.specman"},
        "2": {"name": "entity.name.filename.specman"},
        "3": {"name": "punctuation.terminator.specman"}
      }
    },
    "structs": {
      "patterns": [
        {
          "begin": "\\b(struct|unit)\\s+{{valid_id}}(?:\\s+(like)\\s+{{valid_id}})?\\s*(?:of\\s+\\(\\s*{{valid_id}}\\s*\\))?\\s*(?:(implementing)\\s+{{valid_id}}(?:\\s*,\\s*{{valid_id}})*)?\\s*(\\{)",
          "name": "meta.class.declaration.specman",
          "beginCaptures": {
            "1": {"name": "keyword.declaration.class.specman"},
            "2": {"name": "entity.name.class.specman"},
            "3": {"name": "keyword.declaration.like.specman"},
            "4": {"name": "entity.other.inherited-class.specman"},
            "5": {"name": "entity.other.template.specman"},
            "6": {"name": "keyword.declaration.interface.specman"},
            "7": {"name": "storage.type.interface.specman"},
            "8": {"name": "storage.type.interface.specman"},
            "9": {"name": "punctuation.section.class.begin.specman"}
          },
          "contentName": "meta.class.body.specman",
          "end": "(\\})\\s*(;)",
          "endCaptures": {
            "1": {"name": "punctuation.section.class.end.specman"},
            "2": {"name": "punctuation.terminator.specman"}
          },
          "patterns": [ { "include": "#code" } ]
        },
        {
          "name": "meta.class.declaration.specman",
          "begin": "(\\bextend|\\bwhen)(?:\\s+({{valid_determinant}}))+\\s*(\\{)",
          "beginCaptures": {
            "1": {"name": "keyword.declaration.class.specman"},
            "2": {"name": "entity.name.class.specman"},
            "3": {"name": "punctuation.section.class.begin.specman"}
          },
          "contentName": "meta.class.body.specman",
          "end": "(\\})\\s*(;)",
          "endCaptures": {
            "1": {"name": "punctuation.section.class.end.specman"},
            "2": {"name": "punctuation.terminator.specman"}
          },
          "patterns": [ { "include": "#code" } ]
        },
        {
          "name": "meta.class.declaration.specman",
          "begin": "(\\bpackage\\s*)?(\\binterface)(?:\\s+{{valid_id}})(?:\\s+(like)\\s+{{valid_id}}(?:\\s*,\\s*{{valid_id}})*)?\\s*(\\{)",
          "captures": {
            "1": {"name": "entity.name.namespace.specman"},
            "2": {"name": "keyword.declaration.interface.specman"},
            "3": {"name": "entity.name.interface.specman"},
            "4": {"name": "keyword.declaration.like.specman"},
            "5": {"name": "storage.type.interface.specman"},
            "6": {"name": "storage.type.interface.specman"},
            "7": {"name": "punctuation.section.interface.begin.specman"}
          },
          "contentName": "meta.class.body.specman",
          "end": "(\\})\\s*(;)",
          "endCaptures": {
            "1": {"name": "punctuation.section.class.end.specman"},
            "2": {"name": "punctuation.terminator.specman"}
          },
          "patterns": [ { "include": "#code" } ]
        }
      ]
    },
    "macros": {
      "match": "^\\s*(\\bdefine\\b)\\s+(?:{{valid_name}}\\b)",
      "name": "meta.preprocessor.macro.specman",
      "captures": {
        "1": {"name": "keyword.control.define.specman"},
        "2": {"name": "constant.other.specman"}
      }
    },
    "code": {
      "include": "#scalar-type-definition"
    },
    "scalar-type-definition": {
      "patterns": [
        {
          "match": "\\b(type|extend)\\b\\s+{{valid_id}}\\s*(:)\\s*{{valid_type}}",
          "captures": {
            "1": {"name": "keyword.declaration.specman"},
            "2": {"name": "storage.type.specman"},
            "3": {"name": "punctuation.separator.type.specman"},
            "4": {"name": "storage.type.specman"}
          }
        },
        {
          "contentName": "meta.type.enum.specman",
          "begin": "\\b(type|extend)\\b\\s+{{valid_id}}\\s*(:)\\s*(\\[\\s*)",
          "beginCaptures": {
            "1": {"name": "keyword.declaration.specman"},
            "2": {"name": "storage.type.enum.specman"},
            "3": {"name": "punctuation.separator.type.specman"},
            "4": {"name": "punctuation.brackets.begin.specman"}
          },
          "patterns": [
            { "include": "#enum-values-declaration"}
          ],
          "end": "(\\]\\s*)(\\(\\s*(bits|bytes)\\s*:\\s*[\\d\\*]+\\s*\\))?(\\s*;)",
          "endCaptures": {
            "1": {"name": "punctuation.brackets.end.specman"},
            "2": {"name": "meta.width-modifier.specman"},
            "3": {"name": "keyword.operator.width-modifier.specman"},
            "4": {"name": "punctuation.terminator.specman"}
          }
        }
      ]
    },
    "enum-values-declaration": {
      "patterns": [
        {
          "match": "(\\s*,)",
          "captures": {
            "1": {"name": "punctuation.separator.specman"}
          }
        },
        {
          "match": "(\\s*,)?(?:\\s*{{valid_id}}\\s*)(=\\s*)?",
          "captures": {
            "1": {"name": "punctuation.separator.specman"},
            "2": {"name": "constant.other.enum.specman"},
            "3": {"name": "keyword.operator.assignment.specman"}
          }
        }
      ]
    }
  }
}