{
  "name": "specman",
  "scopeName": "source.specman",
  "patterns": [
    { "include": "#scalar-type-definition"}
  ],
  "repository": {
    "scalar-type-definition" : {
      "patterns": [
        {
          "match": "\\b(type|extend)\\b\\s+{{valid_id}}\\s*(:)\\s*{{valid_type}}",
          "captures": {
            "1": {"name": "keyword.declaration.specman"},
            "2": {"name": "storage.type.specman"},
            "3": {"name": "punctuation.separator.type.specman"},
            "4": {"name": "storage.type.specman"}
          }
        },
        {
          "match": "\\b(type|extend)\\b\\s+{{valid_id}}\\s*(:)\\s*(\\[\\s*)",
          "captures": {
            "1": {"name": "keyword.declaration.specman"},
            "2": {"name": "storage.type.enum.specman"},
            "3": {"name": "punctuation.separator.type.specman"},
            "4": {"name": "punctuation.brackets.begin.specman"}
          }
        }
      ]
    }
  }
}